.textCSS {
    color: red;
    font-weight: bold;
    text-align: center;
}

.textCSS1 {
    color: blue;
    font-weight: bold;
    text-align: center;
}

.textCSS2 {
    color: green;
    font-weight: bold;
    text-align: center;
}
